<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id = "LoginDao" class = "cn.kgc.tangcco.tcbd1017.xishouhau.dao.impl.LoginDaoImpl"/>
	<bean id = "DeptDao" class = "cn.kgc.tangcco.tcbd1017.xishouhau.dao.impl.DeptDaoImpl"/>
	<bean id = "EmpDao" class = "cn.kgc.tangcco.tcbd1017.xishouhau.dao.impl.EmpDaoImpl"/>
	
</beans>
